@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BakeryProject.Models.ViewModels.BunViewModel>
<div class="row">
    <div class="col-lg-12">
        <h2>Таблица булок</h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Начальная цена</th>
                <th>Текущая цена</th>
                <th>Прогноз. Цена</th>
                <th>Прогноз. Через сколько времени</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var bun in Model)
            {
                <tr>
                    <td>@bun.Number</td>
                    <td>@bun.Name</td>
                    <td>@bun.Price</td>
                    <td>@bun.PriceCurrent</td>
                    <td>@bun.PriceForecast</td>
                    <td>@bun.Period</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
